# Exclude Environment and Config files
.idea
venv
*.env
.run
keys
TimeManagerBackend/settings/keys.py
.firebasekey

# Exclude compiled files and caches
__pycache__
*.pyc
.pytest_cache
.coverage

# Exclude build files
*.spec
build
dist
*.egg-info

# Exclude Terraform files
.terraform/.terraform
*.tfstate
*.tfvars
*.tfstate.backup
terraform.plan

# Exclude dev database and logs
*.sqlite3
*.log

# Exclude all docker volumes
docker/*
!docker/docker-compose*.yml
!docker/*entrypoint.sh
!docker/*.dockerfile
!docker/*.md
