appdirs==1.4.4
asgiref==3.2.10
attrs==20.3.0
autoflake==1.4
black==19.10b0
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4; python_version >= "3.5"
chardet==4.0.0
click==7.1.2
coreapi==2.3.3
coreschema==0.0.4
django==3.1.1
django-cors-headers==3.6.0
django-debug-toolbar==2.2
django-prometheus==2.1.0
django-storages==1.11.1
djangorestframework==3.12.1
djangorestframework-simplejwt==4.6.0
drf-extra-fields==3.0.4
drf-yasg==1.20.0
drizm-commons==0.4.2
drizm-django-commons==0.3.1.1
fs==2.4.11
gcloud-storage-emulator==0.3.2
google-api-core==1.24.1
google-auth==1.23.0
google-cloud-core==1.5.0
google-cloud-logging==1.15.1
google-cloud-storage==1.35.0
google-crc32c==1.1.0; python_version >= "3.5"
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
idna==2.10
inflection==0.5.1
isort==5.7.0
itypes==1.2.0
jinja2==2.11.2
markupsafe==1.1.1
packaging==20.8
pathspec==0.8.1
pillow==7.2.0
prometheus-client==0.9.0
protobuf==3.14.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20; python_version >= "3.5"
pyflakes==2.2.0
pyjwt==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
rsa==4.6; python_version >= "3.5"
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2; platform_python_implementation == "CPython" and python_version < "3.9"
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.2
uritemplate==3.0.1
urllib3==1.26.2
